$color-green-dark: #425844
$color-green-light: #61A568

$color-blue-dark: #101D2C

$color-gray-dark: #AAAAAA
$color-gray-light: #F5F5F5

$font-weight-300: 300
$font-weight-400: 400
$font-weight-700: 700
$font-size: 1.6rem

*, *::after, *::before
	margin: 0
	padding: 0
	box-sizing: border-box

html
	font-size: 62.5%
	@include respond(screen)
		font-size: 50%
	@include respond(tablet)
		// font-size: 47.5%
body
	font-family: "Montserrat",sans-serif
	background-color: $color-gray-light
	@include font($font-weight-400, $font-size, $color-gray-dark)

a
	text-decoration: none

ul
	list-style: none
	padding: 0
	margin: 0

img
	width: 100%
	height: auto
	vertical-align: top

.container
	display: grid
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content)
	grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]
	@include respond(screen)
		grid-template-rows: 6rem calc(100vh - 6rem) min-content 40vw repeat(3, min-content)
		grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]
	@include respond(tablet)
		grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content 40vw repeat(3, min-content)
