.btn
  padding: 1.5rem 3rem
  background-color: $color-green-light
  @include font($font-weight-700, $font-size, $color-gray-light)
  text-transform: uppercase
  cursor: pointer
  border: none
  transition: all .3s
  &:hover
    background-color: $color-green-dark
