.gamers
  background-color: $color-blue-dark
  grid-column: col-start 7 / full-end
  display: grid
  grid-template-columns: max-content
  justify-content: center
  align-content: center
  row-gap: 4rem
  @include respond(tablet)
    grid-column: full-start / full-end
    grid-row: 3 / 4
    padding: 5rem 3rem
  &__title
    justify-self: center
    text-transform: uppercase
  &__list
    display: grid
    grid-template-columns: max-content
    row-gap: 4rem
    @include respond(tablet)
      grid-template-columns: repeat(3, 1fr)
      column-gap: 4rem
  &__item
    display: grid
    grid-template-columns: max-content max-content
    column-gap: 2rem
  &__img
    width: 7rem
    border-radius: 50%
    overflow: hidden
  &__content
    align-self: center
  &__content-text
    @include font($font-weight-300, $font-size ,$color-gray-dark)
