.title-1
  @include font($font-weight-700, 4.5rem, $color-gray-light)
  line-height: 1
.title-2
  @include font($font-weight-700, 4rem, $color-gray-light)
  line-height: 1
.title-3
  @include font($font-weight-700, 1.9rem, $color-green-dark)
  line-height: 1
  &_white
    color: $color-gray-light
  &_green-light
    color: $color-green-light
.title-4
  @include font($font-weight-300, 1.7rem, $color-green-dark)
  line-height: 1
